.forecast-card {
  height: 95vh;
  padding: 5px;
  background-color: rgb(132, 162, 243);
}

.content {
  font-size: 16px;
}

.scroll-this {
  overflow: auto;
}

.table-cell_data_empty-background {
  min-width: 120px;
  margin: 2px;
}

.table-header-background {
  min-width: 120px;
  margin: 2px;
  background-color: rgba(119, 139, 255, 0.575);
}

.table-column_0 {
  width: 40px;
}

.table-cell_00 {
  padding: 5px 2px;
}

.table-cell_date {
  margin: 2px;
  padding: 5px 2px;
}

.table-cell_data-background {
  min-width: 120px;
  margin: 2px;
  padding: 2px 0 2px 0;
  /* background-color: rgb(100, 141, 253); */
}

.table-secondary_data_line {
  margin: 2px 0 2px 0;
}

.table-secondary_data_icon img {
  width: 60%;
  height: auto;
}

.table-secondary_data-opacity {
  opacity: 0.6;
  /* margin: 2px 0 2px 0; */
}

@media only screen {
  .content {
    font-size: 60%;
  }

  img {
    width: 25%;
    height: auto;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    font-size: 70%;
  }

  img {
    width: 40%;
    height: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    font-size: 75%;
  }

  img {
    width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .content {
    font-size: 80%;
  }

  img {
    width: 75%;
    height: auto;
  }
}

@media only screen and (max-height: 400px) {
  .content {
    font-size: 40%;
  }

  img {
    width: 10%;
    height: auto;
  }
}

@media only screen and (min-height: 400px) {
  .content {
    font-size: 60%;
  }

  img {
    width: 15%;
    height: auto;
  }
}

@media only screen and (min-height: 600px) {
  .content {
    font-size: 80%;
  }

  img {
    width: 20%;
    height: auto;
  }
}

@media only screen and (min-height: 700px) {
  .content {
    font-size: auto;
  }

  img {
    width: 30%;
    height: auto;
  }
}

@media only screen and (min-height: 800px) {
  img {
    width: 35%;
    height: auto;
  }
}

@media only screen and (min-height: 900px) {
  img {
    width: 40%;
    height: auto;
  }
}
