<mat-card
  class="forecast-card"
  [ngSwitch]="loadingError"
  [ngStyle]="{ 'background-color': cardBackground }"
>
  <div fxLayout="column" fxFill class="content" *ngSwitchCase="true">
    <h3>Connection or service problem. Please reload or try later.</h3>
  </div>

  <div fxLayout="column" fxFill class="content" *ngSwitchCase="false">
    <!-- A row of Day/Date & Hours columns-->
    <div fxFlex fxLayout="row" [fxHide]="loadingOwmData">
      <!-- Day/Date column-->
      <div #fullHeightColumn></div>

      <div fxLayout="column">
        <div
          fxFlex
          class="table-column_0"
          [ngStyle]="{ color: dateColumnTextColor }"
        >
          <span></span>
          <span
            class="table-cell_date"
            *ngFor="
              let dataDaily of weatherData?.listByDate | keyvalue;
              index as $index
            "
          >
            <div>{{ dataDaily.key | date: 'EEE' }}</div>
            <div>{{ dataDaily.key | date: 'dd' }}</div>
            <div>{{ dataDaily.key | date: 'MMM' }}</div>
          </span>
        </div>
        <div
          id="scroll-bar-filler"
          *ngIf="scrollbarHeight(fullHeightColumn, gridContainer) > 0"
          [ngStyle]="{
            height: scrollbarHeight(fullHeightColumn, gridContainer) + 'px'
          }"
        ></div>
      </div>
      <!-- / Day/Date column-->

      <!-- Hours columns-->
      <div #gridContainer fxFlex class="grid-container scroll-this">
        <span
          fxLayoutAlign="center center"
          class="table-header-background"
          *ngFor="let timeSlot of timeTemplate; index as ind"
          [ngStyle]="{
            'background-color': timeTemplate[ind].bgColor,
            color: timeTemplate[ind].textColor,
            border: (isCurrentTimeSlot(timeSlot) ? '1' : '0') + 'px solid black'
          }"
        >
          {{ (timeSlot.hour > 9 ? '' : '0') + timeSlot.hour + ':00' }}
        </span>

        <ng-container
          *ngFor="let dataDaily of weatherData?.listByDate | keyvalue"
        >
          <ng-container *ngFor="let timeSlot of timeTemplate; index as ind">
            <span
              *ngIf="!dataDaily.value[timeSlot.hour]"
              class="table-cell_data-background"
            ></span>

            <span
              *ngIf="dataDaily.value[timeSlot.hour]"
              class="table-cell_data-background"
              [ngStyle]="{
                'background-color': timeTemplate[ind].bgColor,
                color: timeTemplate[ind].textColor,
                border:
                  (isCurrentTimeSlot(timeSlot) ? '1' : '0') + 'px solid black'
              }"
              fxLayout="column"
              fxLayoutAlign="center center"
            >
              <div fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
                <img
                  [src]="
                    iconsOwm +
                    dataDaily.value[timeSlot.hour].weather[0].icon +
                    '.png'
                  "
                />
                {{ dataDaily.value[timeSlot.hour].weather[0].main }}
                {{
                  dataDaily.value[timeSlot.hour].main.temp | number: '1.0-0'
                }}&#176;C
              </div>

              <div fxFlex fxLayout="column">
                <span
                  fxFlex="25%"
                  fxLayout="row"
                  fxLayoutAlign="start end"
                  class="table-secondary_data_line"
                >
                  <img [src]="iconPressure" />
                  <span fxFill class="table-secondary_data-opacity">
                    <span fxFlex="50%" fxLayoutAlign="end end">
                      &nbsp;{{
                        dataDaily.value[timeSlot.hour].main.pressure
                          | number: '1.0-0'
                      }}
                    </span>
                    <span fxFlex fxLayoutAlign="start end">
                      &nbsp;<small>hPa</small>
                    </span>
                  </span>
                </span>

                <span
                  fxFlex="25%"
                  fxLayout="row"
                  fxLayoutAlign="start end"
                  class="table-secondary_data_line"
                >
                  <img [src]="iconWind" />
                  <span
                    fxFill
                    class="table-secondary_data-opacity"
                    fxLayout="row"
                  >
                    <span fxFlex="50%" fxLayoutAlign="end end">
                      <span
                        fxFlex
                        fxFill
                        fxLayoutAlign="center center"
                        [ngStyle]="{
                          height: '50%',
                          'min-height': '50%',
                          'font-weight': 'bold'
                        }"
                        [style.transform]="
                          'rotate(' +
                          dataDaily.value[timeSlot.hour].wind.deg +
                          'deg)'
                        "
                      >
                        {{ arrow000Deg }}
                      </span>
                      {{
                        dataDaily.value[timeSlot.hour].wind.speed
                          | number: '1.0-0'
                      }}
                    </span>
                    <span fxFlex fxLayoutAlign="start end">
                      &nbsp;<small>m/s</small>
                    </span>
                  </span>
                </span>

                <span
                  fxFlex="25%"
                  fxLayout="row"
                  fxLayoutAlign="start end"
                  class="table-secondary_data_line"
                >
                  <img [src]="iconHumidity" />
                  <span fxFill class="table-secondary_data-opacity">
                    <span fxFlex="50%" fxLayoutAlign="end end">
                      &nbsp;{{
                        dataDaily.value[timeSlot.hour].main.humidity
                          | number: '1.0-0'
                      }}
                    </span>
                    <span fxFlex fxLayoutAlign="start end">
                      &nbsp;<small>%</small>&nbsp;
                    </span>
                  </span>
                </span>
              </div>
            </span>
          </ng-container>
        </ng-container>
      </div>
      <!-- Hours columns-->
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="loadingOwmData"
    >
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
</mat-card>
