.stats-card {
  height: 100%;
  padding: 10px;
  background-color: #ddf;
  overflow-y: overlay;
  z-index: 0;
}

.odd {
  background-color: #ccccff80;
}
.selected {
  background-color: #bbd5c680;
}
.selected-even {
  background-color: #d5be9580;
}
.hovered:hover {
  background-color: #cf9e9e;
}

.scroll-this {
  overflow: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-height: 599px) {
  .stats-card {
    font-size: 60%;
  }
}

@media only screen and (min-height: 600px) {
  .stats-card {
    font-size: 80%;
  }
}

@media only screen and (min-height: 800px) {
  .stats-card {
    font-size: 100%;
  }
}
