.stats-card {
  height: calc(100vh - 94px);
  padding: 10px;
  margin: 10px;
  background-color: #ddd;
  /* font-size: 10px; */
  overflow-y: overlay;
  z-index: 0;
}

.odd {
  background-color: #ccc;
}

.elipses {
  overflow: hidden;
  flex-wrap: nowrap;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  display: none;
}
