<mat-card class="stats-card">
  <div fxLayout="column" fxFill>
    <div fxFlex="0 0 auto" fxLayout="row">
      <p>Current client IPv4: {{ ip }}</p>
      <span fxFlex></span>
      <span fxLayout="row" fxLayoutAlign="start center">
        Cities&nbsp;
        <mat-slide-toggle
          style="transform: rotate(180deg)"
          [color]="'primary'"
          [checked]="checkedCities"
          (toggleChange)="checkedCities = !checkedCities"
        >
      </mat-slide-toggle>
      &nbsp;IP
      </span>
    </div>
    <br />

    <div fxFlex fxLayout="column" *ngIf="checkedCities === false">
      <div fxFlex="0 0 auto" fxLayout="row">
        <span fxFlex>IP</span>
        <span fxFlex>Date</span>
        <span fxFlex>Time</span>
        <span fxFlex>City</span>
        <span fxFlex>#</span>
      </div>

      <hr />

      <div
        fxFlex
        fxLayout="column"
        class="scroll-this"
        [@showStats]="citiesLength"
      >
        <ng-container *ngFor="let logEntryIp of historyLog; let odd = odd">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            class="hovered"
            [ngClass]="{
              odd: odd && !showDetails[logEntryIp[0]],
              selected: odd && showDetails[logEntryIp[0]],
              'selected-even': !odd && showDetails[logEntryIp[0]],
              hovered: true
            }"
            (click)="showDetails[logEntryIp[0]] = !showDetails[logEntryIp[0]]"
          >
            <span fxFlex class="truncate">
              {{ showDetails[logEntryIp[0]] ? '&#x23F7;' : '&#x23F5;' }}
              {{ logEntryIp[0] | replace: '-':'.' }}
            </span>
            <span fxFlex>{{ logEntryIp[1][0][0] | date: 'dd/MM/yyyy' }}</span>
            <span fxFlex>{{ logEntryIp[1][0][0] | date: 'HH:mm' }}</span>
            <span fxFlex>{{ cities[logEntryIp[1][0][1]].name }}</span>
            <span fxFlex>{{ logEntryIp[1].length }}</span>
          </div>

          <ng-container *ngIf="showDetails[logEntryIp[0]]">
            <ng-container
              *ngFor="
                let logEntryTime of logEntryIp[2];
                let oddsub = odd;
                let ind = index
              "
            >
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                [ngClass]="{
                  selected: oddsub && odd,
                  'selected-even': oddsub && !odd,
                  hovered: true
                }"
                (click)="
                  showDetails[logEntryIp[0]] = !showDetails[logEntryIp[0]]
                "
              >
                <span fxFlex></span>
                <span fxFlex>{{ logEntryTime[0] | date: 'dd/MM/yyyy' }}</span>
                <span fxFlex>{{ logEntryTime[0] | date: 'HH:mm:ss' }}</span>
                <span fxFlex>{{ cities[logEntryTime[1]].name }}</span>
                <span fxFlex></span>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div fxFlex fxLayout="column" *ngIf="checkedCities">
      <div fxFlex="0 0 auto" fxLayout="row">
        <span fxFlex></span>
        <span fxFlex>All clients</span>
        <span fxFlex>Requests</span>
        <span fxFlex>Updates</span>
      </div>
      <hr />
      <div fxFlex="0 0 auto" fxLayout="row">
        <span fxFlex>Owm</span>
        <span fxFlex></span>
        <span fxFlex>{{ stats.r }}</span>
        <span fxFlex>{{ stats.u }}</span>
      </div>

      <hr />

      <div
        fxFlex
        fxLayout="column"
        class="scroll-this"
        [@showStats]="citiesLength"
      >
        <div
          *ngFor="let city of cities | keyvalue | sortCities ; let odd = odd"
          fxFlex
          fxLayout="row"
          fxLayoutAlign="start center"
          [class.odd]="odd"
          class="hovered"
        >
          <span fxFlex class="truncate">{{ city.value.name }}</span>
          <span fxFlex class="truncate">{{ city.value.country }}</span>
          <span fxFlex>{{ stats[city.key]?.reads || city.value.r }}</span>
          <span fxFlex>{{ stats[city.key]?.updates || city.value.u }}</span>
        </div>
      </div>
    </div>
  </div>
</mat-card>
