.container-toolbar-outlet {
  height: calc(100vh - var(--toolbar-height));
  margin: 0;
  padding: 10px;
  background-image: url('../../../assets/backgrounds/default.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s linear;
}

.toolbar {
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
}

.header-actions-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.home-button {
  text-decoration: none;
  color: white;
  transition: background-color 0.5s color 0.5s;
  position: relative;
}
.home-button:hover {
  text-decoration: none;
  font-weight: lighter;
}

.home-button::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  content: ' ';
  background-color: white;
  transition: width 0.33s, background-color 0.5s;
}
.home-button:hover::after {
  width: 100%;
}

.header-action {
  margin-left: 10px !important;
  font-size: 60%;
}

.header-action-xs {
  margin-top: 10px !important;
  font-size: 60%;
}

.header-actions-container-xs {
  position: absolute;
  top: calc(10px + var(--toolbar-height));
  left: -2;
  z-index: 1000;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.active {
  background-color: green;
}

.button-action {
  margin-left: 10px !important;
  font-size: 60%;
}

.button-action-xs {
  margin-top: 10px !important;
  margin-left: 15px !important;
  font-size: 60%;
}

.button-action:hover:not(.active),
.button-action-xs:hover:not(.active) {
  background-color: orange;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes changecolor {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
}
.toolbar-menu-toggle-xs {
  display: flex;
  flex-direction: column;
  justify-items: center;

  background-color: transparent;
  height: 50px;
  min-height: 50px;
  width: 45px;
  min-width: 45px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

.icon-bar {
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 2px;
  background-color: greenyellow;
  padding: 0;
  /* margin-left: 14px; */
}
.top-bar {
  margin-top: 4px;
  transition-duration: 0.35s;
  transform: rotate(0deg);
  transform-origin: 15% 10%;
}
.middle-bar {
  margin-top: 4px;
}
.bottom-bar {
  margin-top: 4px;
  transition-duration: 0.35s;
  transform: rotate(0deg);
  transform-origin: 15% 10%;
}

.top-bar.show-action-buttons-xs {
  transition-duration: 0.35s;
  transform: rotate(45deg);
  transform-origin: 15% 10%;
  background-color: red;
}
.middle-bar.show-action-buttons-xs {
  opacity: 0;
}
.bottom-bar.show-action-buttons-xs {
  transition-duration: 0.35s;
  transform: rotate(-45deg);
  transform-origin: 15% 90%;
  background-color: red;
}

.toolbar-menu-toggle-xs:hover > .top-bar,
.toolbar-menu-toggle-xs:hover > .middle-bar,
.toolbar-menu-toggle-xs:hover > .bottom-bar {
  background-color: yellow;
}
