<mat-toolbar
  class="toolbar"
  color="primary"
  *ngIf="toolbarShow"
>

  <span (click)="toggleActionButtonsXS($event)"
  >
    <span fxHide.gt-xs style="font-size: 1.5rem">
      &#9776;&nbsp;
    </span>
    OWM Forecast
  </span>
  <span class="header-actions-container">
    <ng-container *ngFor="let action of toolbarActions">
      <mat-form-field
        *ngIf="action['type'] === 'selectCities'"
        class="header-action"
      >
        <mat-select
          placeholder="City"
          [(value)]="selectedCityId"
          (selectionChange)="selectionChange()"
          fxFlex
        >
          <mat-option
            fxFlex
            *ngFor="let city of cities | keyvalue | sortCities"
            [value]="city.key"
          >
            <span fxFlex fxLayoutAlign="space-between" fxFill fxLayout="row">
              <span>{{ city.value.name }}&nbsp;</span>
              <span fxFlex fxLayoutAlign="end center">{{
                city.value.iso2
              }}</span>
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-action-button
        *ngIf="isXs() === false && action['type'] === 'button'"
        [action]="action"
        [disabled]="eventPathEndSegment === action['path']"
        [xs]="false"
        ></app-action-button>
    </ng-container>
  </span>
</mat-toolbar>

<div class="header-actions-container-xs" *ngIf="showActionButtonsXS === true">
  <ng-container *ngFor="let action of toolbarActions">
      <app-action-button
      *ngIf="isXs() === true && action['type'] === 'button'"
      [action]="action"
      [disabled]="eventPathEndSegment === action['path']"
      [xs]="true"
      ></app-action-button>
  </ng-container>
</div>

<div class="container-toolbar-outlet" (click)="hideActionButtonsXS($event)">
  <router-outlet></router-outlet>
</div>
