<div class="container">
  <header>
    <h2>
      Open Weather Map
    </h2>
    <h3>
      5 Day Forecast
    </h3>
    <br />
    Angular Versions Test Projects
  </header>

  <div class="grid-container">
    <img src="favicon.ico" />
    <div>Database</div>
    <div>Hosted</div>
    <div class="flex-justify-center">
      <img src="{{ constants.iconGithub }}" />
    </div>

    <span>8</span>
    <span class="fb-text-color">Firebase RTDB</span>
    <a
      class="link-action fb-text-color"
      href="https://owm-a8-fb.firebaseapp.com/v1/forecast-flex/"
      routerLinkActive="active"
      >Firebase
      <img src="{{ constants.iconExtLink }}" />
    </a>
    <div class="flex-justify-center">
      <a
        class="link-action"
        href="https://github.com/zakhcst/owm-a8-fb"
        routerLinkActive="active"
      >
        <img src="{{ constants.iconExtLink }}" />
      </a>
    </div>

    <span>7</span>
    <span class="fb-text-color">Firebase RTDB</span>
    <a
      class="link-action fb-text-color"
      [routerLink]="['/v1/forecast-flex']"
      routerLinkActive="active"
      >Firebase
      <img src="{{ constants.iconExtLink }}" />
    </a>
    <div class="flex-justify-center">
      <a
        class="link-action"
        href="https://github.com/zakhcst/owm-a7-fb"
        routerLinkActive="active"
      >
        <img src="{{ constants.iconExtLink }}" />
      </a>
    </div>

    <span>7</span>
    <span class="fb-text-color">Firebase RTDB</span>
    <a
      class="link-action gae-text-color"
      href="https://owm-a7-fb.appspot.com/v1/forecast-flex/"
      routerLinkActive="active"
      >GCP AE(f1)
      <img src="{{ constants.iconExtLink }}" />
    </a>
    <div class="flex-justify-center">
      <a
        class="link-action"
        href="https://github.com/zakhcst/owm-a7-fb/tree/gcp"
        routerLinkActive="active"
      >
        <img src="{{ constants.iconExtLink }}" />
      </a>
    </div>

    <span>6</span>
    <span class="fb-text-color">Firebase RTDB</span>
    <a
      class="link-action fb-text-color"
      href="https://owm-a6-fb.firebaseapp.com/"
      routerLinkActive="active"
      >Firebase
      <img src="{{ constants.iconExtLink }}" />
    </a>
    <div class="flex-justify-center">
      <a
        class="link-action"
        href="https://github.com/zakhcst/owm-a6-fb"
        routerLinkActive="active"
      >
        <img src="{{ constants.iconExtLink }}" />
      </a>
    </div>

    <span>1.6</span>
    <span>OWM Requests</span>
    <a
      class="link-action fb-text-color"
      href="https://owm-weather-forecast.firebaseapp.com/"
      routerLinkActive="active"
      >Firebase
      <img src="{{ constants.iconExtLink }}" />
    </a>
    <div class="flex-justify-center">
      <a
        class="link-action"
        href="https://github.com/zakhcst/owm-weather-forecast"
        routerLinkActive="active"
      >
        <img src="{{ constants.iconExtLink }}" />
      </a>
    </div>
  </div>
</div>
