.container {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/backgroungs/default.jpg');
  display: grid;
  place-items: center;
  padding: 10px;
}

header {
  display: grid;
  place-items: center;
}

.grid-container {
  height: 50vh;
  width: -50vw;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

}

.link-action {
  color: white;
  text-decoration: none;
  position: relative;
}
.link-action::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  content: ' ';
  background-color: black;
  transition: width 0.33s, background-color 0.5s;
}
.link-action:hover::after {
  width: 100%;
}
