:host {
  display: grid;
  height: 100vh;

  place-items: center;

  background-size: contain;
  color: lightslategray;
  background-color: darkslategrey;
  /* background-image: radial-gradient(
      circle at 100%,
      #000,
      #333 25%,
      #eee 50%,
      transparent 75%
    ) */
  /* url("/assets/misc/starfield.png") */
}
