<mat-card
  class="forecast-card"
  >
  <!-- [ngSwitch]="loadingError" -->

  <!-- <div fxLayout="column" fxFill class="content" *ngSwitchCase="true">
    <h3>Connection or service problem. Please reload or try later.</h3>
  </div> -->

  <!-- <div fxLayout="column" fxFill class="content" *ngSwitchCase="false"> -->
  <div fxLayout="column" fxFill class="content">
    <!-- A row of Date & Hours columns-->
    <div fxFlex fxLayout="row" [fxHide]="loadingOwmData">
      <!-- Date's column-->
      <div
        #fullHeightColumn
        class="table-column_0"
        fxLayout="column"
        [ngStyle]="{ color: dateColumnTextColor }"
      >
        <div
          fxFlex="5%"
          fxLayout="column"
          class="table-cell_00"
          fxLayoutAlign="center"
        ></div>

        <div fxFlex fxLayout="column" id="daycolumn">
          <div
            fxFlex
            fxLayoutAlign="start center"
            class="table-cell_date"
            *ngFor="
              let dataDaily of weatherData?.listByDate | keyvalue;
              index as $index
            "
          >
            <span fxLayout="column" fxLayoutAlign="end center">
              <span>{{ dataDaily.key | date: 'EEE' }}</span>
              <span>{{ dataDaily.key | date: 'dd' }}</span>
              <span>{{ dataDaily.key | date: 'MMM' }}</span>
            </span>
          </div>
        </div>

        <div
          id="scrollbar-infill"
          [ngStyle]="{
            height: scrollbarHeight + 'px'
          }"
        ></div>
      </div>
      <!-- / Date's column-->

      <!-- Hours columns-->
      <div fxFlex fxFill fxLayout="column" class="scroll-this" #gridContainer>
        <div fxFlex="5%" fxLayout="row">
          <span
            fxFlex
            fxLayoutAlign="center center"
            class="table-header-background"
            *ngFor="let timeSlot of timeTemplate; index as ind"
            [ngStyle]="{
              'background-color': timeTemplate[ind].bgColor + '50',
              color: timeTemplate[ind].textColor
            }"
            >
            <!-- border:(isCurrentTimeSlot(timeSlot) ? '1' : '0') + 'px solid black' -->
            {{ (timeSlot.hour > 9 ? '' : '0') + timeSlot.hour + ':00' }}
          </span>
        </div>
        <!-- show a row for each day -->
        <div
          fxFlex
          fxLayout="row"
          *ngFor="let dataDaily of weatherData?.listByDate | keyvalue"
          [@showTimeSlot]="listByDateLength * timeTemplate.length"
          >
          <!-- show each timeslot in the day's row -->
          <ng-container *ngFor="let timeSlot of timeTemplate; index as ind">
            <app-data-cell
              fxFlex
              [dataDaily]="dataDaily.value"
              [timeSlot]="timeSlot"
              ></app-data-cell>
              <!-- [isCurrentTimeSlot]="isCurrentTimeSlot(timeSlot)" -->
          </ng-container>
        </div>
      </div>
      <!-- Hours columns-->
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="loadingOwmData"
    >
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
</mat-card>
