/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.snackbar__info {
  color: greenyellow;
  background: rgb(59, 59, 59);
}
.snackbar__error {
  color: red;
  background: black;
}

.scroll-this {
  overflow: auto;
}
